<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/fonts.a225d12b.css"/>
      <!--<meta name="viewport" content="width=1280"/>-->
      <!--<link rel="shortcut icon" href="images/favicon.ico"/>-->
      <link rel="stylesheet" href="/stylesheets/normalize.e33b7b92.css"/>
      <link rel="stylesheet" href="/stylesheets/cloud_style.9b4c56a4.css"/>
  </head>

  <body>
    {{{body}}}
  </body>
</html>
